<!-- n2 attribute title -->
<div class="control-group">
  <% var thisId = label.replace(/\W/g, '').toLowerCase() %>
  <label class="control-label" for="<%- thisId %>"><%- type.charAt(0).toUpperCase() + type.substr(1)  %></label>
  
  <div class="controls input-prepend">
    <% if(typeof thisId !== "undefined"){ %>
    <span class="add-on"><%- label %></span>
    <input
       id = "<%- thisId  %>"
       name = "<%- thisId %>"
       type = "text"
       value = "<%- label %>"
       />
      <% } %>
    
  
    
  </div>
</div>
