<!-- n2_mandatory_part-->
<br/>
<div class="control-group row-fluid">
  <label class="control-label" for "group"> Id.GroupId</label>
  <div class="controls row">
    <input id="id"
	   class="span4 field"
	   name = "<%- 'id-'+id %>"
    	   value="<%- id %>"
    	   type="info-input"
	   placeholder="SchemaId">

    <input id="group"
           class="span4 field"
	   name = "<%- 'group-'+id %>"
	   value="<%- group %>"
    	   type="info-input"
	   placeholder="GroupId">

</div>
  <label class="control-label" for="label">Label</label>
  <div class="controls row">
    <input id="label"
	   class="span8 field"
	   name="<%- 'label-'+id %>"
    	value="<%- label %>"
    	type="info-input"
    />

  </div>
</div>
  <!-- attribute box -->
  
<legend class= "span5">Attributes</legend>
<div class="control-group">

</div>
