<!-- n2_mandatory_part-->

<br/>
<div class="control-group" display="inline-block">
  <label class="control-label" for="key_group">Group</label>
  <div class="controls">
    <input id="key_group"
	value="<%- group %>"
    	type="text"
    />

  </div>


  <label class="control-label" for="id">Id</label>
  <div class="controls">
    <input id="key_id"
    	value="<%- id %>"
    	type="text"
    />

  </div>
  <label class="control-label" for="label">Label</label>
  <div class="controls">
    <input id="key_label"
    	value="<%- label %>"
    	type="text"
    />

  </div>
</div>
<!-- attribute box -->
<legend>Attributes</legend>
<div class="control-group">
 <br/>

</div>
