<!-- n2_mandatory_part-->

<br/>
<div class="control-group" display="inline-block">
 
  <label class="control-label" for="group">Group</label>
  <div class="controls">
    <input id="group"
           class="input-large field"
	 name = "<%- 'group-'+id %>"
	value="<%- group %>"
    	type="info-input"
    />

  </div>


  <label class="control-label" for="id">Id</label>
  <div class="controls">
    <input id="id"
	   class="input-large field"
	   name = "<%- 'id-'+id %>"
    	value="<%- id %>"
    	type="info-input"
    />

  </div>
  <label class="control-label" for="label">Label</label>
  <div class="controls">
    <input id="label"
	   class="input-large field"
	   name="<%- 'label-'+id %>"
    	value="<%- label %>"
    	type="info-input"
    />

  </div>
</div>
<!-- attribute box -->
<legend>Attributes</legend>
<div class="control-group">
 <br/>

</div>
